@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-color: 3, 7, 18;
  --background-secondary-color: 101, 163, 13;
  --background-muted-color: 132, 204, 22;
  --text-primary-color: 23, 23, 23;
  --text-secondary-color: 38, 38, 38;
  --text-muted-color: 64, 64, 64;
}
